body{
	background: white;
}

#video-list .panel-body{
	padding-left: 0px;
}


.video-image-mask{
	width: 190px;
	height: 150px;
	overflow: hidden;
}

.video-image-mask .video-image{
	width: 105%;
}

.video-title{
	font-weight: bold;
	font-size: 18;
}

.video-title a{
	color: #444;
}